body {
  background-color: #fffafa;
}

nav {
  font-size: 20px;
}

/* SLIDESHOW */
#slideshow {
    margin-bottom: 50px;
}

#slideshow .bx-wrapper {
  border:none;

}

/*#SLIDESHOW + whatever element selector*/

#slideshow {
  max-width: 1240px;
  margin: auto; 
}

#slideshow ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#slideshow li {
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 0;
}

#slideshow img {
  width: 100%;
}

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  top: -60px;
  position: relative;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background-color: #435aa9;
  text-indent: -9999px;
  display: block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 100%;
  border: 1px solid white;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background-color: #eb1d26;
  opacity: 0.6;
}

.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;

}

.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}


.beginSearch {
  position: relative;
  top: 80px;
  
}

.card-location {
  position:relative;
  
  top: -140px
}

.search-heading {
  position: relative;
  top: -50px
}

.searchButton {
  height:64px;
  font-size: 35px;
  background-color: rgb(41, 41, 41);
  color: white;
  border: none
}

.searchResults {
  border-style: solid;
  border-radius: 3px;
  margin: 15px;
}

.background {
  background-color: white;
}

.facts {
  position: relative;
  top: -30px
}

.factBox {
  position: relative;
  top: -30px
}

.searchBtn {
  margin-bottom: 5px;
}

.textHeading {
  font-weight: bold;
  font-size: 20px;
}

.card-text {
  font-size: 15px;
  margin: 20px;
}

/* SEARCH RESULTS */

#searchResults h3 {
  font-size: 1.5rem;
}

#searchResults a {
  display: inline-block;
  margin: 10px 0;
}

.bookmark-icon {
  position: relative;
  display: block;
  float: right;
  top: -210px;
  font-size: 30px;
  color: #ea4848;
}

.bookmark-icon:visited {
  position: relative;
  display: block;
  float: right;
  top: -210px;
  font-size: 30px;
  color: #ea4848;
}

.bookmark-icon:hover {
  position: relative;
  display: block;
  float: right;
  top: -210px;
  font-size: 30px;
  color: #ea4848;
  transform: translateY(3px);
  transition-duration: .5s;
}


.charity-container {
  display: block;
  margin: 10px;
  min-width: 45%;
  width: 48%;
  max-width: 48%;
  border: 1px #fff solid;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 3px 4px 4px #e2d7d7;
  background: white;

}

.open-maps:link {
  display: inline-block;
  margin: 10px 0;
  padding: 6px 10px;
  background-color: #A5C882;
  border: 1px #A5C882 solid;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}


.open-maps:visited {
  display: inline-block;
  margin: 10px 0;
  padding: 6px 10px;
  background-color: #A5C882;
  border: 1px #A5C882 solid;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}

.open-maps:hover {
  display: inline-block;
  margin: 10px 0;
  padding: 6px 10px;
  background-color: #A5C882;
  border: 1px #A5C882 solid;
  border-radius: 10px;
  opacity: 0.8;
  transition-duration: .5s;
  text-decoration: none;
}

/* ALTERNATE BOOKMARK BUTTON */

.bookmark-button {
  display: inline-block;
  margin: 10px 0;
  margin-left: 10px;
  padding: 6px 10px;
  background-color: #ea4848;
  border: 1px #ea4848 solid;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}

.bookmark-button:hover {
  display: inline-block;
  margin: 10px 0;
  margin-left: 10px;
  padding: 6px 10px;
  background-color: #ea4848;
  border: 1px #ea4848 solid;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  opacity: 0.8;
  transition-duration: .5s;
}

.hide {
  display: none;
}

.bookmarkFeedback {
  font-size: 0.9em;
  color: #ea4848;
  position: relative;
  top: 20px;
}





/* FOOTER */

footer {
  display: block;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
}

#backToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

.icon {
  max-height: 30px;
  max-width: 30px;
}

.ftrattr {
  font-size: 10px;
}

#backToTop:hover {
  background-color: #555;
}

@media screen and (max-width: 1200px){

  /* SEARCH RESULTS */
  .bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    top: -30px;
    position: relative;
   }

  #searchResults h3 {
    font-size: 1.5rem;
  }
  
  #searchResults a {
    display: inline-block;
    margin: 10px 0;
    font-size: 0.9rem;
    word-wrap: break-word;
  }
  

  .charity-container {
    margin: 10px auto;
    width: 100%;
    border: 1px #fff solid;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 4px 4px #e2d7d7;
    background: white;
  }

  .bookmark-icon {
    position: relative;
    display: block;
    float: right;
    top: -240px;
    font-size: 25px;
    color: #ea4848;
  }
  
  .bookmark-icon:visited {
    position: relative;
    display: block;
    float: right;
    top: -240px;
    font-size: 25px;
    color: #ea4848;
  }
  
  .bookmark-icon:hover {
    position: relative;
    display: block;
    float: right;
    top: -240px;
    font-size: 25px;
    color: #ea4848;
    transform: translateY(3px);
    transition-duration: .5s;
  }
  
  
  .charity-container {
    display: block;
    margin: 10px;
    min-width: 95%;
    border: 1px #fff solid;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 4px 4px #e2d7d7;
    background: white;
  }
  
  .open-maps:link {
    display: inline-block;
    margin: 10px 0;
    padding: 6px 10px;
    background-color: #A5C882;
    border: 1px #A5C882 solid;
    border-radius: 10px;
    color: white;
    text-decoration: none;
  }
  
  
  .open-maps:visited {
    display: inline-block;
    margin: 10px 0;
    padding: 6px 10px;
    background-color: #A5C882;
    border: 1px #A5C882 solid;
    border-radius: 10px;
    color: white;
    text-decoration: none;
  }
  
  .open-maps:hover {
    display: inline-block;
    margin: 10px 0;
    padding: 6px 10px;
    background-color: #A5C882;
    border: 1px #A5C882 solid;
    border-radius: 10px;
    opacity: 0.8;
    transition-duration: .5s;
    text-decoration: none;
  }

  /* ALTERNATE BOOKMARK BUTTON */

  .bookmark-button {
    display: inline-block;
    margin: 10px 0;
    margin-left: 10px;
    padding: 6px 10px;
    background-color: #ea4848;
    border: 1px #ea4848 solid;
    border-radius: 10px;
    color: white;
    text-decoration: none;
  }

  .bookmark-button:hover {
    display: inline-block;
    margin: 10px 0;
    margin-left: 10px;
    padding: 6px 10px;
    background-color: #ea4848;
    border: 1px #ea4848 solid;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    opacity: 0.8;
    transition-duration: .5s;
  }

}

@media screen and (min-width: 1201px){

  /* SEARCH RESULTS */
  .charity-container {
    display: block;
    margin: 10px;
    min-width: 48%;
    width: 48%;
    border: 1px #fff solid;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 4px 4px #e2d7d7;
    background: white;
  
  }

}


